@charset "UTF-8";

body {
    background-image: linear-gradient(to bottom, #222601,#6F7302);
}

div#formularios {
    left: 40%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px 0px 0px 20px;
    width: 500px;
}

p#botoes > input {
    width: 500px;
}

p.senhas {
    width: 500px;
}

p.senhas > input {
    width: 455px;
}

div#imagem {
    border-radius: 0px 20px 20px 0px;
    left: 60%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 340px;
}