@charset "UTF-8";

/* Cores que serão usadas

#100940
#222601
#6F7302
#565902
#3E4001

*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #3E4001;
}

section {
    position: relative;
    height: 100vh;
}

div {
    background-color: white;
}

div#imagem {
    width: 280px;
    height: 400px;
    border-radius: 30px 30px 0px 0px;

    position: absolute;

    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);

    background: url(../Imagens/pexels-matthew-montrone-230847-1179229.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


div#formularios {
    text-align: center;
    width: 250px;
    position: absolute;
    border-radius: 0px 0px 30px 30px;

    left: 50%;
    top: 63%;
    transform: translate(-50%, -50%);

    padding: 15px;
}

p.senhas {
    background-color: #100940;
    width: 240px;
    border-radius: 5px;
    margin: auto;
}

p.senhas > input {
    height: 25px;
    background-color: #5659028f;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 5px;
    width: 190px;
}

p.senhas > input:hover {
    background-color: white;
}

p.senhas > label > span {
    color: white;
    vertical-align: middle;

}

p#botoes > input {
    padding: 10px;
    width: 240px;
    margin: 2px; 
    background-color: #565902;
    border-radius: 5px;
    color: white;
}

p#botoes > input:hover {
    background-color: #333501;
    cursor: pointer;
 
}

p#botoes > input#esqueci {
    background-color: #f1f1d6;
    color: black;
}

p#botoes > input#esqueci:hover {
    background-color: #aaaa96;
}

p#nome {
    margin-bottom: 5px;
}

p#texto {
    text-align: start;
    margin-bottom: 25px;
}

h1 {
    margin-bottom: 30px;
}

p#espaço {
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
}
